/* index.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal scrollbars */
  scroll-behavior: smooth; /* Enable smooth scrolling */
  overflow-y: auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8; /* Adjust according to your app's needs */
}
